.third_block_col h2 {
    font-weight: bold;
 }
 
  .third_block_img img {
    padding-top: 17px;
  }
 
  .third_block_col h2 {
    letter-spacing: 0.5px;
    margin-top: 13px;
    font-size: 34px;
  }
 
  .third_block_col p {
    margin-top: 22px;
    width: 105%;
    line-height: 26px;
  }
 
  .third_block_col h6 {
    font-size: 14px;
    letter-spacing: 1.3px;
  }
 
  .third_block {
     background-color: #F2F2F2;
  }
 
  .col-xl-6 h6 {
     color: $blue;
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 2px;
  }
 
  .col-xl-6 p {
     margin-top: 20px;
 }
 
 .third_block_h6 {
     margin-top: 115px;
 }

 .third_block {
  padding-bottom: 20px;
}