@import "header";
@import "secondblock";
@import "thirdblock";
@import "slider";
@import "fifthblock";
@import "sixblock";
@import "contact";
@import "contactform";
@import "footer";

* {
   font-family: 'Source Sans Pro', sans-serif;
 }

 $blue : #008ED6;
 $textwhitecolor :#FFFFFF;

 .container {
    max-width: 1170px;
    margin: 0 auto;
 }

 .col-xl-8 span,h2 {
   margin-top: 20px;
 }

.col-xl-12 {
   margin-bottom: 70px;
}

.map {
   position: relative;
   z-index: 1;
}

.col-xl-12 h6 {
   color: $blue;
   font-weight: bold;
}

.col-xl-6 p {
   margin-bottom: 10px; 
   max-width: 90%;
  line-height: 25px;
   }

  .col-xl-5 h6 {
   color: $blue;
   font-weight: bold;
}
 .four_item {
   margin-right: -50px;
 }

.header_burger {
   display: none;
}

@media (max-width: 1199px) {
   .container {
      max-width: 1199px;
      margin: 0 auto;
   }

   .hr2 {
      display: none;
   }
   .first_contact_item {
      margin-left: 0;
   }

   .third_contact_item {
      margin-left: 0;
   }

   .header_burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      margin-top: 25px;
      z-index: 4;
    }

    .header_burger.active {
      position: fixed;
      margin-top: 100px;
      z-index: 3003;
    }

    .header_burger span {
        position: absolute;
        background-color: $textwhitecolor;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    }

    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        }

        .header_burger.active span{
            transform: scale(0);
            }

    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: $textwhitecolor;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }
   
   .header_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #16151B;
      background-image: url("/img/photo.png");
   }
   
   .upper_header_logo_items {
      z-index: 5;
      margin-left: 10px;
   }
   
   .header_menu {
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
       background-color: #16151B;
     background-image: url("/img/photo.png");
      z-index: 2;
      margin-top: 65px;
      display: block;
      transition: 2s;
     }

     .header_menu .header_list{
      display: block;
      color: $textwhitecolor;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    }

    .header_menu ul {
      padding-left: 0;
    }
  
     .header_list li {
      padding-bottom: 20px;
      padding-right: 0;
     }
     
     .header_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }
  
     .header_menu.active {
      top:0;
      transition: 0.8s;
      z-index: 3001;
     }

   .four_item {
      margin-right: 0;
   }

   .second_row_right p {
      width: 100%;
   }

   .third_block_col p {
      width: 100%;
   }

   .contact_form {
      width: 500px;
      height: 500px;
    }
   
    .allinputs input {
      width: 300px;
      height: 30px;
    }
   
    textarea {
      width: 300px;
      height: 220px;
      margin-left: 94px;
      margin-top: 0;
    }
   
     .popup {
      display: flex
     }
   
   .allinputs {
      margin-top: 22px;
      margin-right: 50px;
   }
   
   .textarea {
      margin-top: 0
   }

   .all_contact_items {
      margin: auto;
   }

   .footer {
      margin-top: 210px;
   }

   .what_you_see {
      text-align: center;
   }

   .fifthrow {
      margin-left: 284px;
   }

   .third_block_col {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .third_block_img img {
      margin-left: 200px;
   }

   .second_row_right {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .header_paragraph {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .row h4 {
      font-size: 20px;
   }

   .header_paragraph p {
      font-size: 20px;
   }

   .img_phones img {
      width: 90%;
   }

   .secondrow_img img {
      margin-left: 350px;
   }

   .card-columns {
      column-count: 2;
   }

   .card-columns .card {
      width: auto;
      margin-left: 10px
    }

   .six_block_item {
      width: auto;
   }
}

@media(max-width:1024px) {
   .container {
      max-width: 1024px;
      margin: 0 auto;
   }

   .header_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #16151B;
   }
   
   .upper_header_logo_items {
      z-index: 5;
      margin-left: 10px;
   }
   
   .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
      background-color: black;
      z-index: 2;
      margin-top: 65px;
      display: block;
      transition: 2s;
     }
     .header_menu .header_list{
      display: block;
      color: $textwhitecolor;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; 
    }

    .header_menu ul {
      padding-left: 0;
    }
  
     .header_list li {
      padding-bottom: 20px;
      padding-right: 0;
     }
     
     .header_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }
  
     .header_menu.active {
      top:0;
      transition: 0.8s;
     }

   .header_paragraph {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
       flex-direction: column;
       align-items: center; 
   }
   
   .header_paragraph h4 {
      font-size: 18px;
   }
   
   .header_paragraph h1 {
      font-size: 28px;
   }
   
   .header_paragraph p {
      font-size: 22px;
   }

   .secondrow_img img {
      margin-left: 250px;
   }

   .second_row_right {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .second_row_right p {
      width: 100%;
      margin-left: 0;
   }
   .sixcolfourblock p {
      font-size: 22px;
   }

   .slick-dots {
      margin-top: 25px;
   }

   .third_block_col {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .third_block_img img {
      margin-left: 150px;
      margin-top: -100px;
   }

   .third_block_col p {
      width: 100%;
   }

   .card-columns {
      column-count: 2;
   }

   .card-columns .card {
      width: auto;
      margin-left: 10px
    }

   .six_block_item {
      width: auto;
   }

   .what_you_see {
      text-align: center;
   }

   .fifthrow {
      margin-left: 193px;
   }

   .contact_form {
      width: 500px;
      height: 500px;
    }
   
    .allinputs input {
      width: 300px;
      height: 30px;
    }
   
    textarea {
      width: 300px;
      height: 220px;
      margin-left: 94px;
      margin-top: 0;
    }
   
     .popup {
      display: flex
     }
   
   .allinputs {
      margin-top: 22px;
      margin-right: 50px;
   }
   
   .textarea {
      margin-top: 0
   }

   .footer {
      margin-top: 205px;
   }

   .four_item {
      margin-right: 0;
   }
   .third_contact_item {
      margin-left: 50px;
     }

     .first_contact_item {
      margin-left: 0;
   }

   .third_contact_item {
      margin-left: 0;
   }

   .all_contact_items {
      margin: auto;
   }
}

@media (max-width:883px) {
   .third_block_img img {
      width: 90%;
      margin-left: 130px;
   }
}

@media(max-width: 850px) {
   .third_block_img img {
      margin-left: 43px;
   }
}

@media (max-width: 768px) {
.header_burger{
   display: block;
   position: relative;
   width: 30px;
   height: 20px;
   z-index: 4;
}

.container {
   max-width: 768px;
   margin: 0 auto;
}

.first_contact_item {
   margin-left: 9px;
  }

  .third_contact_item {
   margin-left: 0;
  }

.header_burger span {
   position: absolute;
   background-color: $textwhitecolor;
   left: 0;
   width: 100%;
   height: 2px;
   top: 9px;
}
.header_burger::before,
.header_burger:after {
 content: '';
 background-color: $textwhitecolor;
 position: absolute;
 width: 100%;
 height: 2px;
 left: 0;
}

.header_burger::before {
   top: 0;
}

.header_burger:after {
   bottom: 0;
}

.header_menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #16151B;
}

.upper_header_logo_items {
   z-index: 5;
   margin-left: 0px;
}

.header_menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #16151B;
}

.upper_header_logo_items {
   z-index: 5;
   margin-left: 10px;
}

.header_menu {
   position: fixed;
   top: -100%;
   left: 0;
   width: 100%;
   height: auto;
   background-color: black;
   z-index: 2;
   margin-top: 65px;
   display: block;
   transition: 2s;
  }
  .header_menu .header_list{
   display: block;
   color: $textwhitecolor;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
 }

 .header_menu ul {
   padding-left: 0;
 }

  .header_list li {
   padding-bottom: 20px;
   padding-right: 0;
  }
  
  .header_list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .header_menu.active {
   top:0;
   transition: 0.8s;
  }

.header_paragraph {
   display: flex;
   justify-content: center;
   height: auto;
    flex-wrap: wrap;
    width: 100%;
}

.header_paragraph h4 {
   font-size: 16px;
}

.header_paragraph h1 {
   font-size: 24px;
   margin: auto;
}

.header_paragraph p {
   font-size: 18px;
}

.second_block_row {
   width: 100%;
}
.second_block_item {
   max-width: 25%
}

.second_block_item_name h3 {
 font-size: 22px
}

.secondrow_img img {
   width: 90%;
   margin-left: 0;
}

.second_row_right {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center
}

.second_row_right p {
  width: 80%;
}

.third_block_col {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap
}

.third_block_col p {
   width: 80%;
}

.third_block_img img {
   margin-left: 0;
   width: 90%;
}

 .slider_item {
   margin-left: 29px;
}

.slider_item p {
   font-size: 18px;
}
 .what_you_see {
   margin-left: 80px
 }

 .fifthrow {
   margin-left: 100px
 }

 .card-columns {
   column-count: 2;
 }

 .card-columns .card {
   width: auto;
   margin-left: 10px
 }

 .all_contact_items {
   display: flex;
   flex-direction: row;
 }

 .contact_form {
   width: 500px;
   height: 500px;
 }

 .allinputs input {
   width: 300px;
   height: 30px;
 }

 textarea {
   width: 300px;
   height: 220px;
   margin-left: 94px;
   margin-top: 0;
 }

  .popup {
   display: flex
  }

.allinputs {
   margin-top: 22px;
   margin-right: 50px;
}

.textarea {
   margin-top: 0
}

.footer {
   margin-top: 205px;
}

.second_block_item {
   margin-left: 0;
}

.row_contact_us {
   margin-top: 0;
   margin-left: 0;
}
.second_contact_item {
   margin-left: 17px;
}
};

@media(max-width: 746px) {
   .contact_us_item_info p{
      font-size: 14px;
     }
}

@media(max-width: 718px) {
   .second_block_row {
      width: auto;
   }
   .container {
      max-width: 718px;
   }
   .card-columns {
      column-count: 1;
      margin-left: 10px;
      
  }
  .six_block_item {
   width: auto;
  }
  .second_block_row h3 {
   font-size: 18px;
}
}

@media(max-width: 629px) {
   .contact_us_item_info p{
      font-size: 13px;
     }
}

@media(max-width: 599px) {
   .contact_us_item_info p{
      font-size: 12px;
     }
}

@media(max-width: 574px) {
   .contact_us_item_info p{
      font-size: 10px;
     }
}

@media(max-width: 584px) {
   .secondrow_img img {
      width: 90%;
   }
   .container {
      max-width: 584px;
   }
   .second_block_row h3 {
      font-size: 17px;
   }

   .img_phones img {
      width: 90%;
   }
   .third_block_img img {
      width: 90%;
   }
}

@media(max-width: 561px) {
   .second_block_row h3 {
      font-size: 16px;
   }
   .fifthrow {
      margin: auto;
   }
   .container {
      max-width: 561px;
   }
}

@media(max-width: 534px) {
   
   .second_block_row h3 {
      font-size: 15px;
   }
   .container {
      max-width: 534px;
   }
}

@media(max-width: 529px) {
   .header_paragraph h1{
      margin-left: 30px;
   }
   .container {
      max-width: 529px;
   }
}

@media(max-width: 519px) {
   .second_block_item {
      min-width: 50%;
   }
}

@media(max-width: 500px) {
   .contact_form {
      width: 350px;
      height: 300px;
    }
   
    .second_block_item {
      min-width: 50%;
    }
   
    .allinputs input {
      width: 299px;
      height: 20px;
    }
   
    textarea {
      width: 299px;
      height: 80px;
      margin-left: 35px;
      margin-top: 0;
    }
   
     .popup {
      display: flex
     }
   
   .allinputs {
      margin-top: 22px;
      margin-right: 50px;
   }
   
   .textarea {
      margin-top: 0
   }

   .message_button {
      margin-top: 0;
   }

   .footer {
      margin-top: 405px;
   }
}

@media(max-width:425px) {
   .container {
      max-width: 425px;
   }

   .header_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #16151B;
   }
   
   .upper_header_logo_items {
      z-index: 5;
      margin-left: 10px;
   }
   
   .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
      background-color: black;
      z-index: 2;
      margin-top: 65px;
      display: block;
      transition: 2s;
     }
     .header_menu .header_list{
      display: block;
      color: $textwhitecolor;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    }

    .header_menu ul {
      padding-left: 0;
    }
  
     .header_list li {
      padding-bottom: 20px;
      padding-right: 0;
     }
     
     .header_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }
  
     .header_menu.active {
      top:0;
      transition: 0.8s; 
     }

   .contact_form {
      width: 310px;
      height: 300px;
    }
   
    .second_block_item {
      min-width: 50%;
    }
   
    .allinputs input {
      width: 250px;
      height: 20px;
    }
   
    textarea {
      width: 250px;
      height: 80px;
      margin-left: 35px;
      margin-top: 0;
    }
   
     .popup {
      display: flex;
      margin-top: 200px;
     }
   
   .allinputs {
      margin-top: 22px;
      margin-right: 50px;
   }
   
   .textarea {
      margin-top: 0
   }

   .message_button {
      margin-top: 0;
      margin-left: 26px;
   }
   
   .third_contact_item {
      margin-left: 0;
   }
   
   .second_contact_item {
      margin-left: 0;
   }

   .footer {
      margin-top: 205px;
   }

   .card-columns .card {
      margin-left: 0;
   }

   .what_you_see {
      margin-left: 0;
   }

   .col-xl-7 h2 {
      font-size: 17px;
   }

   .fifthrow {
      padding-left:33px;
   }

   .second_block_header h2 {
      font-size: 27px;
   }

   .second_row_right h2 {
      font-size: 27px;
   }

   .second_row_right {
      margin-top: 0;
   }

   .second_block_header {
      margin-left: 0;
   }

   .sixcolfourblock p {
      width: 100%;
   }

   .six_block_header {
      margin-right: 55px;
   }
   
   .contact_us_item_info {
      width: auto;
   }

   .all_contact_items {
      margin-left: 0;
   }

   .first_contact_item {
      margin-left: 9px;
     }

     .all_contact_items {
      display: flex;
      flex-wrap: wrap;
   }
   
   .first_contact_item {
      margin-bottom: 40px;
      margin-left: 0;
   }
   
   .second_contact_item {
      margin-bottom: 60px;
      margin-left: 0px;
   }
   
   .third_contact_item {
      margin-left: 0px;
   }

   .contact_us_item_info p{
      font-size: 16px;
      width: auto;
   }
}

@media(max-width:375px) {
   .container {
      max-width: 375px;
   }
   .all_contact_items {
      margin-left: -11px;
   }

   .third_block_col h2 {
      font-size: 28px;
   }

   .six_block_header h2{
      font-size: 27px;
   }

   .second_block_item {
      min-width: 50%;
   }
   .header_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #16151B;
   }
   
   .upper_header_logo_items {
      z-index: 5;
      margin-left: 10px;
   }
   
   .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
      background-color: black;
      z-index: 2;
      margin-top: 65px;
      display: block;
      transition: 2s;
      
     }
     .header_menu .header_list{
      display: block;
      color: $textwhitecolor;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    }

    .header_menu ul {
      padding-left: 0;
    }
  
     .header_list li {
      padding-bottom: 20px;
      padding-right: 0;
     }
     
     .header_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }
  
     .header_menu.active {
      top:0;
      transition: 0.8s;
     }

     .header_buttons {
       display: flex;
     }

     .first_contact_item {
      margin-left: 9px;
     }
     .contact_us_item_info p{
      font-size: 16px;
      width: auto;
   }

   .custom-btn {
      margin-left: 0;
   }
   .fifthrow {
      padding-left: 23px;
   }
}

@media(max-width:320px) {
   .container {
      max-width: 320px;
   }

   .hr2 {
      display: none;
   }
   
   .header_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #16151B;
   }
   
   .upper_header_logo_items {
      z-index: 5;
      margin-left: 10px;
   }
   
   .header_menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: auto;
      background-color: black;
      z-index: 2;
      margin-top: 65px;
      display: block;
      transition: 2s;
      opacity: 0.8;
     }

     .header_menu .header_list{
      display: block;
      color: $textwhitecolor;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
    }

    .header_menu ul {
      padding-left: 0;
    }
  
     .header_list li {
      padding-bottom: 20px;
      padding-right: 0;
     }
     
     .header_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
     }
  
     .header_menu.active {
      top:0;
      transition: 0.8s;
     }
   .header_paragraph {
      display: flex;
      justify-content: center;
      height: auto;
       flex-wrap: wrap;
       width: 100%;
}

.message_button {
   margin-top: 0;
}

.third_contact_item {
   margin-left: 0;
}

.second_contact_item {
   margin-left: 0;
}

.second_block_item {
   min-width: 100%;
}

.contact_form {
   width: 300px;
   height: 300px;
 }

 .input {
   width: 100px;
 }

 .allinputs input {
   width: 250px;
   height: 20px;
 }

 textarea {
   width: 250px;
   height: 80px;
   margin-left: 35px;
   margin-top: 0;
 }

  .popup {
   display: flex
  }

.allinputs {
   margin-top: 22px;
   margin-right: 50px;
}

.message_button {
   margin-left: 36px;
}

.popup {
   margin-top: 200px;
}

.all_contact_items {
   display: flex;
   flex-wrap: wrap;
}

.first_contact_item {
   margin-bottom: 40px;
   margin-left: 12px;
}

.second_contact_item {
   margin-bottom: 60px;
   margin-left: 12px;
}

.third_contact_item {
   margin-left: 12px;
}

.footer {
   margin-top: 205px;
}

.header_buttons {
   display: flex;
}

.third_block_col h2 {
   font-size: 24px;
}

.fifthrow {
   display: flex;
   padding-right: 10px;
}

.six_block_header h2 {
   font-size: 20px;
}

.contact_us_item_info p {
   font-size: 11px;
}

.second_block_header h2 {
   font-size: 26px;
}

.second_row_right h2 {
   font-size: 21px;
}

.smallpicture {
   font-size: 17px;
}

.six_block_header h6 {
   font-size: 12px;
}

.contact_us_item_info p{
   font-size: 16px;
   width: auto;
}

.img_and_author {
   margin-top: 0px;
}

.slick-dots {
   margin-top: -15px;
}
}